<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Player</title>
</head>
<body>
    <h1 style="text-align: center;">Add new player</h1>
    <form style="text-align: center;" action="../add-player" method="POST">
        <label>Name Player:</label><br>
        <input type="text"name="name"><br>
        <label>Age:</label><br>
        <input type="text"name="age"><br>
        <label>Email:</label><br>
        <input type="text"name="email"><br>
        <label>Address:</label><br>
        <input type="text"name="address"><br><br>
        <button type="submit">Add Player</button>
    </form>
    <form style="text-align: center;" action="./" method="GET"> 
        <button type="submit">Back</button>
    </form>
    
</body>
</html>